<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>
 
<meta name="google-signin-client_id" content="97033074736-gurbgba31eqkq2bps6qp4oc17131j54h.apps.googleusercontent.com"/> <!-- plug in your generated key -->

       <meta charset="utf-8"></meta>
    <title>Crowd Analysis | Track Yourself</title>
    <link rel="stylesheet" th:href="@{/assets/stylesheets/custommaterialize.css}"/>
    <link rel="stylesheet" th:href="@{/assets/stylesheets/custom-chip.css}" />
    <link rel="stylesheet" th:href="@{/assets/stylesheets/custommain.css}"/>
    
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400"/>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="//code.jquery.com/jquery-2.1.1.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="https://code.highcharts.com/modules/drilldown.js"></script>
	<script src="http://code.highcharts.com/highcharts-more.js"></script>

	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
     <script th:inline="javascript">
/*<![CDATA[*/
    
    function GetURLParameter(sParam)
    
    {
    
        var sPageURL = window.location.search.substring(1);
    
        var sURLVariables = sPageURL.split('&');
    
        for (var i = 0; i < sURLVariables.length; i++)
    
        {
    
            var sParameterName = sURLVariables[i].split('=');
    
            if (sParameterName[0] == sParam)
    
            {
    
                return sParameterName[1];
    
            }
    
        }
    
    }
    
    
    function produceMessage(msg){
  	  /* not supported in IE - startswith() :|  */  
  	  var out;
  	  var num=-1;
  	  if(msg.startsWith("BH")){
  		  out = "Boys Hostel";
  		  num = msg.match(/\d+/)[0];
  				  	
  	  }
  	  
  	  else if(msg.startsWith("OUTDOOR_HS"))
  		  out = "Outside Hostel";
  	  
  	  else if(msg.startsWith("OUTDOOR_LH"))
  		  out = "Outside Lecture Halls";
  	  
  	  else if(msg.startsWith("ACB")){
  		  out = "Academic Building";
  		  num = msg.match(/\d+/)[0];
  				  	
  	  }
  	  
  	  else if(msg.startsWith("LCB")){
  		  out = "Lecture Block";
  		  num = msg.match(/\d+/)[0];
  				  	
  	  }
  	  else if(msg.startsWith("LB")){
  		  out = "Library Building";
  		  num = msg.match(/\d+/)[0];
  				  	
  	  }
  	  else if(msg.startsWith("GH")){
  		  out = "Girls Hostel";
  		  num = msg.match(/\d+/)[0];
  				  	
  	  }
  	  
  	  else if(msg.startsWith("SRB")){
  		  out = "Service Block";
  		  num = msg.match(/\d+/)[0];
  				  	
  	  }
  	  
  	  else if(msg.startsWith("DB")){
  		  out = "Dining Block";
  		  num = msg.match(/\d+/)[0];
  				  	
  	  }
  	  else if(msg.startsWith("RESB")){
  		  out = "Faculty Residence";
  		  num = msg.match(/\d+/)[0];
  				  	
  	  }
  	  else 
  		  out=msg;
  	  
  	  //console.log(num);
  	  
  	  if(num != -1)
  		  out = out.concat(" Floor ".concat(num.toString()));
  	  
  	  return out;
  	}
    
   function setColor(loc){
   
        switch(loc){
        
            case "BH0FAP": return "#feb1d4";
            case "BH1FAP": return "#0a79b6";
            case "BH2FAP": return "#169190";
            case "BH3FAP": return "#9d7480";
            case "BH4FAP": return "#123714";
            case "BH5FAP": return "#778F9D";
            case "BH6FAP": return "#87ECF0";
            case "GH0FAP": return "#D02090";
            case "GH1FAP": return "#768347";
            case "GH2FAP": return "#F18087";
            case "GH3FAP": return "#154FA1";
            case "GH4FAP": return "#D4444A";
            case "GH5FAP": return "#8B6B6E";
            case "GH6FAP": return "#1E2D00";
            case "LB0FAP": return "#442A42";
            case "LB1FAP": return "#FFA700";
            case "LB2FAP": return "#EE82EE";
            case "LB3FAP": return "#FA225D";
            case "DB0FAP": return "#84C103";
            case "DB1FAP": return "#3599B7";
            case "DB2FAP": return "#FFA22F";
            case "DB3FAP": return "#6E5550";
            case "RESB0FAP": return "#E691C8";
            case "RESB1FAP": return "#4E112D";
            case "RESB2FAP": return "#0057E7";
            case "RESB3FAP": return "#492A08";
            case "RESB4FAP": return "#99C51C";
            case "RESB5FAP": return "#EAE57E";
            case "RESB6FAP": return "#C186A4";
            case "RESB7FAP": return "#5A4B3C";
            case "RESB8FAP": return "#345435";
            case "RESB9FAP": return "#F65E61";
            case "RESB10FAP": return "#F1EBA0";
            case "RESB11FAP": return "#9810D5";
            case "RESB12FAP": return "#AF7D92";
            case "ACB0FAP": return "#464128";
            case "ACB1FAP": return "#4E112D";
            case "ACB2FAP": return "#3C69FF";
            case "ACB3FAP": return "#492970";
            case "ACB4FAP": return "#F28F43";
            case "ACB5FAP": return "#77A1E5";
            case "LCB0FAP": return "#910000";
            case "LCB1FAP": return "#8BBC21";
            case "LCB2FAP": return "#C42525";
            case "SRB0FAP": return "#A6C96A";
            case "SRB1FAP": return "#1AADCE";
            case "SRB2FAP": return "#4572A7";
            case "OUTDOOR_HS": return "#AA4643";
            case "OUTDOOR_LH": return "#DB843D";
            
        }
   
   }
  	 
   $.ajaxSetup({
	    beforeSend: function() {
	        // TODO: show your spinner
	        $('#ajaxSpinner').show();
	    },
	    complete: function() {
	        // TODO: hide your spinner
	        $('#ajaxSpinner').hide();
	    }
	});
    
    /*]]>*/	
    </script>
  </head>

  <body class="joy">

    <!-- Header -->

    <header class="primary-header container group">

      <h1 class="logo">
      <a>Crowd <br/> Analysis</a>
      </h1>

    <h3 class="tagline" th:inline="text">[[${user.getString('name')}]]<img style="margin-left:20px; vertical-align:middle; border-radius:50%; height:50px;" th:src="${img}" th:alt="${user.getString('name')}"/> 
	</h3>
    
      <nav class="nav-joy primary-nav-joy">
        <ul>
        
        <li><a style="color:#648880;">Crowd Analysis</a></li>
        <li><a id="footfall">Footfall</a></li>
        <li th:if="${userobj.admin}"><a id="add_admin">Add Admin</a></li>
        <li th:if="${userobj.admin}"><a id="add_super">Add Power User</a></li>
        <li><a id="home">Home</a></li>
        
          <li><a id="signout">Sign Out</a></li>
          
             </ul>
      </nav>
	
      
    </header>

    <!-- Lead -->

         
      <section class="row-alt row" style="margin-bottom:0px;">
      <div class="lead container">
		
		
		 

        <p>Select a building and type of people</p>
        
    	<div class="input-field col s4 offset-s1">
		    <select id="building">
		      
		      <option data-floors="6" selected="selected" value="ACB">Academic Building</option>
		      <option data-floors="4" value="LB">Library Building</option>
		      <option data-floors="3" value="LCB">Lecture Block</option>
		      <option data-floors="7" value="BH">Boys Hostel</option>
			  <option data-floors="6" value="GH">Girls Hostel</option>
			  <option data-floors="3" value="SRB">Service Block</option>
			  <option data-floors="4" value="DB">Dining Block</option>
			  <option data-floors="1" value="OUTDOOR_HS">Outside Hostel</option>
			  <option data-floors="1" value="OUTDOOR_LH">Outside Library</option>
			
		    </select>
		    <label>Building</label>
		</div>
		<div class="input-field col s4 offset-s2">
		    <select id = "people">
		      
		      <option selected="selected" value="1">Students</option>
		      <option value="2">Faculty/Staff</option>
		      <option value="3">Guests</option>
		      <option value="0">All</option>
			  
		    </select>
		    <label>People</label>
		</div>
		<p><br/></p>
		<button id = "btn" class="waves-effect waves-light btn">Show</button>    	 
    </div>
    </section>
      
      
      <section class="row" id ="row" style="margin-bottom:0px; display:none;">
      <div class="container" style="width:1200px;" id="schedule-charts">
        
        <div id="ajaxSpinner" style = "text-align: center;">
        <img alt="Loading" th:src="@{/assets/images/fs4.gif}" style="width:500px;  margin:auto;"/>
        <h5>Analyzing...</h5>
    	</div>
    	
    	<div id="container0" class= "charts" style="min-width: 310px; height: 800px; margin: 0 auto 30px auto; display:none;"></div>
    	
    	<div id="container1" class= "charts" style="min-width: 310px; height: 800px; margin: 0 auto 30px auto; display:none;"></div>
    	
    	<div id="container2" class= "charts" style="min-width: 310px; height: 800px; margin: 0 auto 30px auto; display:none;"></div>
    	
    	<div id="container3" class= "charts" style="min-width: 310px; height: 800px; margin: 0 auto 30px auto; display:none;"></div>
    	
    	<div id="container4" class= "charts" style="min-width: 310px; height: 800px; margin: 0 auto 30px auto; display:none;"></div>
    	
    	<div id="container5" class= "charts" style="min-width: 310px; height: 800px; margin: 0 auto 30px auto; display:none;"></div>
    	
    	<div id="container6" class= "charts" style="min-width: 310px; height: 800px; margin: 0 auto 30px auto; display:none"></div>
    	

      </div>
    </section>
	
	
		<!-- Scripts -->
		
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
      <script th:inline="javascript">
/*<![CDATA[*/
           
           
           $(document).ready(function() {
    $('select').material_select();
  });
           
           
          

   var jsonbaba;
   function onLoad() {
		console.log('Onload called');
	  gapi.load('auth2', function() {
	    gapi.auth2.init();
	    
	  });
	 
	}
   
   
   
   $(document).ready(function(){
    $("#signout").click(function(){
    	console.log('sign out.');
    	  var auth2 = gapi.auth2.getAuthInstance();
    	  auth2.signOut().then(function () {
    	    console.log('User signed out.');
    	   
    	  });
    	  window.location="/";
    });
    
    $("#add_admin").click(function(){
			console.log("jai mata di!"); 	
	  
			window.location ="/admin/addadmin";
			
			//$.get("/admin/profile",{ hashedmac: GetURLParameter('hashedmac')})
	});
    $("#add_super").click(function(){
		console.log("jai mata di!"); 	
  
		window.location ="/admin/addsuper";
		
		//$.get("/admin/profile",{ hashedmac: GetURLParameter('hashedmac')})
	});
    $("#home").click(function(){
			//console.log("jai mata di!"); 	
	  
			window.location ="/welcome";
			
			//$.get("/admin/profile",{ hashedmac: GetURLParameter('hashedmac')})
	});
    $("#footfall").click(function(){
		//console.log("jai mata di!"); 	
  
		window.location ="/admin/footfall";
		
		//$.get("/admin/profile",{ hashedmac: GetURLParameter('hashedmac')})
});
    
 

});
   
    Highcharts.setOptions({
	             lang: {
	                 drillUpText: '< Go Back'
	             }
	         });
  
   function displayCrowdAnalysisCharts(place,floor, max, people){
	   
	   console.log("display "+place+floor+" "+people );
	  
       
       $.get("/admin/data/spaceutil",{ place: (max>1?place+floor:place), people:people}
	 	  , function(data, status){
	         	console.log("status "+status);
	         	//console.log("data "+data);
	         	if(data !=="null"){
		         	data = JSON.parse(data);
		 		 	var series = data.series;
		 		 	data = data.drilldown;
		            //console.log(data);
		            
		            for(var ind in data.drilldown){
		            	for(var item in data.drilldown[ind]){
		            		if(!data.drilldown[ind].hasOwnProperty(item)){
		            	  	continue;
		            	  }
		            	  
		            	  data.drilldown[ind][item].color=Highcharts.getOptions().colors[ind];
		            	  console.log(data.drilldown[ind][item]);
		            	}
		            }
		       		
		            $("#container"+floor).show( );
		      			
                    // Create the chart
                    new Highcharts.Chart({
                    	
                    	chart: {
                    		renderTo: 'container'+floor,
                            type: 'column',
                            events: {
                                drilldown: function (e) {
                                    if (!e.seriesOptions) {
                                        var chart = this,
                                            drilldowns0 = data.drilldown[0],
                                            drilldowns1 = data.drilldown[1]
                                                ,
                                            drilldowns2 = data.drilldown[2]
                                                ,
                                            drilldowns3 = data.drilldown[3]
                                                ,
                                            drilldowns4 = data.drilldown[4]
                                                ,
                                            drilldowns5 = data.drilldown[5]
                                                ,
                                            drilldowns6 = data.drilldown[6]
                                                ,
                                            drilldowns7 = data.drilldown[7]
                                                ,
                                            drilldowns8 = data.drilldown[8]
                                                ,
                                            drilldowns9 = data.drilldown[9]
                                                ,
                                            drilldowns10 = data.drilldown[10]
                                                ,
                                            drilldowns11 = data.drilldown[11]
                                                ,
                                            drilldowns12 = data.drilldown[12]
                                                ,
                                            drilldowns13 = data.drilldown[13]
                                                ,
                                            drilldowns14 = data.drilldown[14]
                                                ,
                                            drilldowns15 = data.drilldown[15]
                                                ,
                                            drilldowns16 = data.drilldown[16]
                                                ,
                                            drilldowns17 = data.drilldown[17]
                                                ,
                                            drilldowns18 = data.drilldown[18]
                                                ,
                                            drilldowns19 = data.drilldown[19]
                                                ,
                                            drilldowns20 = data.drilldown[20]
                                                ,
                                            drilldowns21 = data.drilldown[21]
                                                ,
                                            drilldowns22 = data.drilldown[22]
                                                ,
                                            drilldowns23 = data.drilldown[23]
                                                ,

                                        series0 = drilldowns0[e.point.name],
                                        series1 = drilldowns1[e.point.name];
                                        series2 = drilldowns2[e.point.name],
                                        series3 = drilldowns3[e.point.name];
                                        series4 = drilldowns4[e.point.name],
                                        series5 = drilldowns5[e.point.name];
                                        series6 = drilldowns6[e.point.name],
                                        series7 = drilldowns7[e.point.name];
                                        series8 = drilldowns8[e.point.name],
                                        series9 = drilldowns9[e.point.name];
                                        series10 = drilldowns10[e.point.name],
                                        series11 = drilldowns11[e.point.name];
                                        series12 = drilldowns12[e.point.name],
                                        series13 = drilldowns13[e.point.name];
                                        series14 = drilldowns14[e.point.name],
                                        series15 = drilldowns15[e.point.name];
                                        series16 = drilldowns16[e.point.name],
                                        series17 = drilldowns17[e.point.name];
                                        series18 = drilldowns18[e.point.name],
                                        series19 = drilldowns19[e.point.name];
                                        series20 = drilldowns20[e.point.name],
                                        series21 = drilldowns21[e.point.name];
                                        series22 = drilldowns22[e.point.name],
                                        series23 = drilldowns23[e.point.name];
                                        chart.addSingleSeriesAsDrilldown(e.point, series0); 
                                        chart.addSingleSeriesAsDrilldown(e.point, series1);
                                        chart.addSingleSeriesAsDrilldown(e.point, series2); 
                                        chart.addSingleSeriesAsDrilldown(e.point, series3);
                                        chart.addSingleSeriesAsDrilldown(e.point, series4); 
                                        chart.addSingleSeriesAsDrilldown(e.point, series5);
                                        chart.addSingleSeriesAsDrilldown(e.point, series6); 
                                        chart.addSingleSeriesAsDrilldown(e.point, series7);
                                        chart.addSingleSeriesAsDrilldown(e.point, series8); 
                                        chart.addSingleSeriesAsDrilldown(e.point, series9);
                                        chart.addSingleSeriesAsDrilldown(e.point, series10); 
                                        chart.addSingleSeriesAsDrilldown(e.point, series11);
                                        chart.addSingleSeriesAsDrilldown(e.point, series12); 
                                        chart.addSingleSeriesAsDrilldown(e.point, series13);
                                        chart.addSingleSeriesAsDrilldown(e.point, series14); 
                                        chart.addSingleSeriesAsDrilldown(e.point, series15);
                                        chart.addSingleSeriesAsDrilldown(e.point, series16); 
                                        chart.addSingleSeriesAsDrilldown(e.point, series17);
                                        chart.addSingleSeriesAsDrilldown(e.point, series18); 
                                        chart.addSingleSeriesAsDrilldown(e.point, series19);
                                        chart.addSingleSeriesAsDrilldown(e.point, series20); 
                                        chart.addSingleSeriesAsDrilldown(e.point, series21);
                                        chart.addSingleSeriesAsDrilldown(e.point, series22); 
                                        chart.addSingleSeriesAsDrilldown(e.point, series23);
                                        chart.applyDrilldown();
                                    }
                                }
                            }
                        },
                        credits :{
                            enabled:false
                         },
                exporting: {
                            enabled:false
                         },

                title: {
                    text: 'Crowd Analysis for ' +  produceMessage(max>1?place+floor:place) + ' of '+ $("#people :selected").text()
                },
                subtitle: {
                    text: 'Click the columns for detailed month view.'
                },
                xAxis: {
                    type: 'category',

                },
                yAxis: {
                                min: 0,
                                title: {
                                    text: 'Man-Minutes'
                                },
                                stackLabels: {
                                    enabled: true,
                                    style: {
                                        fontWeight: 'bold',
                                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                                    }
                                }

                            },
                legend: {
                    enabled: true,
                    borderColor: '#CCC',
                    borderWidth: 1,
                },
                plotOptions: {
                column: {stacking: 'normal'},
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            style: { textShadow: false}
                        }
                    }
                },
                        series: series,
                        drilldown: {
                            series: []
                        }
                    });
                    
	 	  		}//end if
	 	  		
	 	  		
	      		 floor=floor+1;
	             if(floor<max)
	             		displayCrowdAnalysisCharts(place,floor,max,people);
	             
	             else
	          	   return;
	              
            });  //end get

   }
   
   
   
   $("#btn").click(function(){
	   
	   $("#row").slideDown("slow", function(){})
	   $(".charts").hide();
	   var floor=0;
	   //alert($("#building").val()+$("#building :selected").attr("data-floors") + " "+$("#people").val());
	   
	   displayCrowdAnalysisCharts($("#building").val(),floor,parseInt($("#building :selected").attr("data-floors")), $("#people").val() );
	   
	   
	   })
   
   /*]]>*/	
</script>

<script src="https://apis.google.com/js/platform.js?onload=onLoad"></script>
    

    <footer class="primary-footer-joy container group">
	
      <small>&copy; IIIT Delhi | Joy Aneja</small>

      
    </footer>
 
  </body>
</html>